#database {
  overflow: scroll;
  height: 600px;
}

#filters {
  float: right;
  width: 400px;
  height: 70px;
  display: inline;
  overflow: scroll;
}

button {
  margin: 5px;
}

table, tr {
  table-layout: fixed;
}

.h {
  text-align: center;
  width: 204px;
}

#header_table {
  margin: 0px;
}

h1 {
  display: inline;
  position: fixed;
}

#title {
  display: inline;
  padding: 40px; 
}

td {
  text-align: center;
  width: 100px;
}

.form-control {
  width: 200px;
  float: right;
  display: inline;
  margin: 20px;
}

.form-group {
  display: inline;
}

#blowup {
  width: 50%;
  float: left;
}
