#database {
  overflow: scroll;
  height: 600px;
  width: 100%;
  float: left;
  position: fixed;
}

#filters {
  float: right;
  width: 400px;
  height: 70px;
  display: inline;
  overflow: scroll;
}

button {
  margin: 5px;
}

.h {
  text-align: left;
  width: 204px;
}

#header_table {
  margin: 0px;
}

h1 {
  display: inline;
/*  position: fixed;*/
}

#title {
  display: inline;
  padding: 40px; 
  position: relative;
}

td {
  text-align: left;
}

.form-control {
  width: 200px;
  float: right;
  display: inline;
  margin: 20px;
}

.form-group {
  display: inline;
}


#detail_view {
  float: right;
  width: 48%;
  margin-right: 20px;
  height: 100%;
}

#professor_list {
  width: 100%;
}

.selected {
  background-color: #FFFFFF;
}

tr {
  background-color: #FFFFFF;
}

body {
  background-color: #FFE5B1;
  margin-top: 20px;
}

